
{% extends "index.html" %}

{% block title %}
    Edit Career
{% endblock %}


{% block content %}
    <style>
        #edit-form{
            padding-top: 5em;
            padding-left: 10em;
            padding-right: 10em;
        }
    </style>

    <form id="edit-form" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.career_name(class="form-control") }} <br>
        {{ form.description(class="form-control") }} <br>
        {{ form.image(class="form-control") }} <br>
        {{ form.content(class="form-control") }}
        
        <br>
        {{ form.submit(class="btn btn-primary btn-lg")}}
    </form>
    {{ ckeditor.load('full') }}
    {{ ckeditor.config(name='blogcontent')}}
{% endblock %}
