{% extends 'index.html' %}

{% block title %}
{% endblock %}


{% block content %}

    <style>
        .form-content{
            margin-top: 100px;
            flex-wrap: wrap;
            margin-left: 10rem;
            margin-right: 10rem;
            margin-bottom: 3rem;
        }
    </style>


    <form  class="form-content" action="{{ url_for('admin_login') }}" method="post">
        <input name="username" type="text" placeholder="username" class="form-control"> <br>
        <input name="password" type="password" placeholder="password" class="form-control"> <br>
        <button class="btn btn-outline-primary btn-sm btn-block">Login</button>
    </form>
{% endblock %}
